@use "../components/buttons" as btns;
@use "../base/typography" as font;
@use "../utils/variables" as var;
@use "../layout/flex" as flx;
@use "../utils/mixins" as mix;
.that_matter {
  padding: 100px 0 100px 0;
  background-color: var.$bg-green;
  .dark & {
    background-color: var.$text-color;
  }
  h5 {
    @include mix.width(57, 32);
    @include font.font(20, 400, 32);
    .dark & {
      color: var.$bg-white;
    }
  }
  .matter_texts {
    @include flx.flex(space-between, center, 20);
    @media (max-width: 1059px) {
      padding-top: 40px;
      flex-direction: column;
      justify-content: center;
    }
    h1 {
      padding: 20px 0 0 0;
      @include mix.width(600, 144);
      @include font.font(48, 400, 72);
      color: var.$text-color;
      .dark & {
        color: var.$bg-white;
      }
      @media (max-width: 1059px) {
        @include font.font(38, 400, 62);
      }
      @media (max-width: 468px) {
        @include font.font(28, 400, 52);
      }
    }
    p {
      @include mix.width(455, 64);
      @include font.font(16, 400, 28);
      .dark & {
        color: var.$bg-white;
      }
      @media (max-width: 1059px) {
      }
    }
  }
}
.handshake_iteration {
  padding: 0 0 96px 0;
  .dark & {
    background-color: var.$text-color;
  }
  p {
    padding: 94px 0 0 0;
    margin: 0 auto;
    @include mix.width(126, 32);
    @include font.font(20, 400, 32);
    .dark & {
      color: var.$bg-white;
    }
  }
  h2 {
    padding: 40px;
    margin: 0 auto;
    text-align: center;
    @include mix.width(842, 144);
    @include font.font(48, 400, 72);
    @media (max-width: 731px) {
      @include font.font(36, 400, 56);
    }
    @media (max-width: 494px) {
      @include font.font(20, 400, 46);
    }
    .dark & {
      color: var.$bg-white;
    }
  }
  .iteration_number {
    padding: 104px 20px 0 20px;
    @include flx.flex(space-between, center, 80);
    @media (max-width: 856px) {
      flex-wrap: wrap;
      justify-content: center;
    }
    h3 {
      @include mix.width(233, 56);
      @include font.font(96, 400, 56);
      @media (max-width: 958px) {
        @include font.font(66, 400, 26);
        @include flx.flex(space-between, center, 10);
      }
      .dark & {
        color: var.$bg-white;
      }
    }
    h4 {
      padding: 32px 0 0 20px;
      @include font.font(24, 400, 36);
      .dark & {
        color: var.$bg-white;
      }
    }
  }
}
.hanshake_itaretion {
  background-color: var.$bg-ink;
  .dark & {
    background-color: var.$text-color;
  }
  padding: 124px 0 130px 0;
  .hanshake_itaretion_page {
    margin: 0 auto;
    @include mix.width(800, 384);
    h5 {
      @include mix.width(89, 32);
      @include font.font(20, 400, 32);
      color: var.$bg-white;
    }
    h2 {
      @include mix.width(842, 144);
      @include font.font(48, 400, 72);
      color: var.$bg-white;
      @media (max-width: 694px) {
        @include font.font(35, 400, 60);
      }
      @media (max-width: 509px) {
        @include font.font(25, 400, 50);
      }
    }
    p {
      @include mix.width(799, 168);
      @include font.font(20, 400, 32);
      color: var.$bg-white;
      @media (max-width: 694px) {
        @include font.font(15, 400, 22);
      }
    }
  }
}
.leadership_team {
  .dark & {
    background-color: var.$text-color;
  }
  .leadership_team_texts {
    padding: 196px 0 0 52px 0;
    margin: 0 auto;
    @include mix.width(800, 251);
    h5 {
      padding-top: 96px;
      @include mix.width(90, 32);
      @include font.font(20, 400, 32);
      color: var.$bg-grey;
      .dark & {
        color: var.$bg-white;
      }
    }
    h2 {
      padding-top: 80px;
      @include mix.width(842, 72);
      @include font.font(48, 400, 22);
      color: var.$text-color;
      .dark & {
        color: var.$bg-white;
      }
      @media (max-width: 527px) {
        @include font.font(38, 400, 32);
      }
    }
    p {
      padding-top: 60px;
      @include mix.width(799, 110);
      @include font.font(20, 400, 32);
      color: var.$bg-grey;
      .dark & {
        color: var.$bg-white;
      }
      @media (max-width: 527px) {
        @include font.font(13, 400, 32);
      }
    }
  }

  .leadership_ship_cards {
    padding: 150px 0 120px 0;
    @include flx.flex(space-between, center, 20);
    @media (max-width: 996px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    .leadership_ship_card {
      h3 {
        padding-top: 24px;
        @include font.font(28, 400, 48);
        .dark & {
          color: var.$bg-white;
        }
      }
      p {
        padding-top: 12px;
        @include font.font(20, 400, 32);
        .dark & {
          color: var.$bg-white;
        }
      }
    }
  }
}
.leadership_team {
  .general_managers {
    padding-bottom: 124px;
    .general_managers_cards {
      padding: 0 100px 0 100px;
      @include flx.flex(space-between, center, 101);
      @media (max-width: 1016px) {
        flex-direction: column;
        padding: 0 0px 0 0px;
      }

      .general_managers_card {
        padding: 46px 0 0 0;
        @include flx.flex(0, center, 24);
        .general_managers_card_names {
          h3 {
            @include font.font(28, 400, 48);
            @include mix.width(200, 48);
            @media (max-width: 378px) {
              @include font.font(20, 400, 40);
            }
            .dark & {
              color: var.$bg-white;
            }
          }
          p {
            @include font.font(20, 400, 32);
            @include mix.width(162, 32);
            @media (max-width: 1016px) {
              @include font.font(15, 400, 28);
            }
            .dark & {
              color: var.$bg-white;
            }
          }
        }
      }
    }
  }
}
.management_venture {
  padding: 118px 0 120px 0;
  background-color: var.$bg-ink;
  h5 {
    text-align: center;
    @include font.font(20, 400, 32);
    color: var.$bg-grey;
  }
  h2 {
    text-align: center;
    margin: 0 auto;
    @include font.font(48, 400, 72);
    @include mix.width(842, 144);
    color: var.$bg-white;
    @media (max-width: 678px) {
      @include font.font(38, 400, 62);
    }
    @media (max-width: 443px) {
      @include font.font(28, 400, 52);
    }
  }
  hr {
    margin-top: 64px;
  }
  .management_venture_card {
    padding-top: 84px;
    @include flx.flex(space-between, center, 40);
    @media (max-width: 1016px) {
      flex-direction: column;
    }
    h3 {
      @include font.font(48, 400, 72);
      @include mix.width(450, 58);
      color: var.$bg-white;
      span {
        color: var.$bg-green;
      }
      @media (max-width: 443px) {
        @include font.font(30, 400, 60);
      }
    }
    p {
      @include font.font(20, 400, 32);
      @include mix.width(509, 102);
      color: var.$bg-white;
    }
  }
}
